/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user{font-size: 20px;
    　text-align: center; 
     }
.head{width: 100%;
      height: 150px;      
} 
.left{float:left;
    　width:24%;
}
.btn{background-color:#00CCCC;
     padding: 2px;
     text-align: center;
     color: white;
     width: 100px;
}
.btn2{position: fixed;
      
}
#tab{text-align: right;
}
#tab2{font-size: 20px;
}
#container{width:1200px;
     margin:0 auto ;
}
#tweet{font-size: 15px;
}

#header{vartical-align:top;
    background-color: white
}
#sidebar{background-color: #D7EEFF;
         border-radius: 10px;
         padding: 10px;
         float:left;
         width:30%;
        }
#content{font-size: 10.5px;
         background-color: white;
         border-radius: 10px;
         padding: 7.5px;
         float:right;
         width:65%;
         position: relative;
        }
#footer{position: absolute;
        right: 0;
        bottom: 0;}